/*
* app.css
* =======
* Réalisé par : [Benjamin Joinvil]
* Version : 24
* Date : 30 avril 2023
*/

/* 
Contraintes 
nouvelle propriété CSS3 : curseur 
Un changement de curseur a été utiliser comem nouvelle proriété il a été pris du site web suivant : https://www.cursors-4u.com 
*/

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400;500;600;700&display=swap') ;
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap') ;

html {
background-image : url(./pxfuel.jpg);
}
/* Permet de rajouter mon nom */
#nom::before {
    content: "Benjamin Joinvil";
  }

.container {
max-width : 1200px;
width : 90%;
margin : 0 auto;
display : flex;
flex-wrap : wrap;
}
.content {
flex : 1;
box-sizing : border-box;
padding : 20px;
}
body {
line-height : 1.88889;
color : rgb(170, 92, 92);
padding-right : 20px;
padding-left : 0%;
}
p {
margin-top : 0;
}
header h1 {
display : flex;
font-family : 'DynaPuff';
font-weight : 10;
margin : 2px;
padding-right : 5px;
justify-content : center;
}
header h2 {
font-family : 'DynaPuff';
display : flex;
font-weight : 10;
margin : 2px;
padding-right : 5px;
justify-content : center;
}
header {
padding-top : 20px;
height : 100px;
}
/* titre des paragraphes */
h3 {
font : italic normal normal normal 1.4em 'DynaPuff', sans-serif;
letter-spacing : 1px;
margin-bottom : 0;
color : #e721b6;
}
a:link {
font-weight : bold;
text-decoration : none;
color : #300035;
}
a:visited {
font-weight : bold;
text-decoration : none;
color : #ff0000;
}
/* Permet de faire grossir les liens */
a:hover, a:focus, a:active {
text-decoration : underline;
color : #120038;
font-size : 1.1em;
}
abbr {
border-bottom : none;
}
.page-wrapper {
padding : 0 175px 0 110px;
margin : 0;
}
.banner {
display : flex;
justify-content : center;
align-items : center;
}
.intro {
display : flex;
flex-direction : column;
align-items : center;
justify-content : center;
background-image : url(./wild_mersey-track_icons-green-zen_garden-crop-u149526.png);
background-size : 10%;
background-repeat : no-repeat;
}
footer {
text-align : center;
padding-bottom : 20px;
}
footer a:link, footer a:visited {
margin-right : 20px;
}
/* menu de droite boite exterieur*/
body {
display : flex;
flex-direction : column;
}
main {
flex-grow : 1;
}
.sidebar {
width : 200px;
height : 100vh;
opacity : 50%;
background-color : #af2887;
padding : 10px;
box-sizing : border-box;
margin-left : auto;
margin-top : 0;
transform : translateY(-151%) translateX(100%);
align-self : flex-end;
}
.next {
color : rgb(0, 0, 0);
}
.sidebar {
display : flex;
flex-direction : column;
align-items : center;
justify-content : flex-end;
}
/* menu de droite,boite interieur */
.sidebar .wrapper {
flex : 1;
font : 10px 'Nutino', sans-serif;
background-color : lightblue;
padding : 25px;
width : 130px;
padding-top : 0%;
}

/* Permet d'ajouter un .gif hello kitty  */
.sidebar .wrapper {
background-image : url("./Hellokitty.gif");
background-repeat : repeat;
}
.sidebar h3.select {
margin : 10px 0 5px 0;
width : 97px;
height : 16px;
}
.sidebar h3.archives {
font : 100;
margin : 25px 0 5px 0;
width : 63px;
height : 10px;
}
.sidebar h3.resources {
font : 100;
margin : 25px 0 5px 0;
width : 63px;
height : 10px;
}

/* permet de faire un saut de ligne avec part du menu de droite, afin de rentre le texte plus visible https://www.xul.fr/en/css/white-space.php */
.sidebar::before ul {
padding : 5px;
color : fuchsia;
content : "\a";
white-space : pre;
}
.sidebar li {
line-height : 2em;
padding-top : 8px;
}
/* Permet de changer le cuseur */
* {
cursor : url(https://cur.cursors-4u.net/nature/nat-10/nat927.ani), url(https://cur.cursors-4u.net/nature/nat-10/nat927.png), auto !important ;
}
