/* 
la malise permet de chosir quel couleur va changer , avec la virgul dans ce cas div
 */

 /* {
     margin:0;
     padding:0;
 } */


/* div , p{
    background-color: green;
} */


html{
    font-family: arial;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat ;
    background-position: bottom 50%;
    height: 100%;
    color: white;
}
.container{
    max-width: 1000px;
    margin:  0 auto;
}
.header{
    padding-top: 20px ;
    height:60px;
    background-color: #333;
}

p{
    margin-bottom:  15 px;
}

a{
    color: white;
    transition: color 1s ease-out;  /* le transition devrait rester dans le original et non le hover  */
}
a:hover{
    margin-bottom:  25 px;
    color: #8ff;
    text-decoration: none;
    
}

.main-section{
    padding-top: 50px;
    background-color: rgba(50,50,50,0.2);
    box-shadow: 0 0 5px black;
}


 