* {
    margin:100;
    padding:0;
}


.bordure {
    border-bottom: 1pt solid black;
}

.contour{
    border: 2pt solid black;
}

.milieux{
text-align: center;
}

#Couleur{
color: blue;
}

#backcouleur{
    background-color: green;
}

#Largeur{

    +
}
  